<div class="header">
	<h1>CinemaApp</h1>
	<div class="nav-buttons">
		<button routerLink="/">Home</button>
		<button [routerLink]="['/account']">My reservations</button>
		<button *ngIf="!auth.isLoggedIn()" (click)="goToLogin()">Log in</button>
		<button *ngIf="auth.isLoggedIn()" (click)="auth.logout()"> Log out</button>
	</div>
</div>
<div class="content">
	<p *ngIf="!movies.length">There are no movies currently showing. </p>
	<app-movie-card class="movie-card" *ngFor="let movie of movies" [movie]="movie">
	</app-movie-card>
</div>


<div class="footer">
	<p>2025</p>
</div>