<div class="header">
	<h1>CinemaApp</h1>
	<div class="nav-buttons">
		<button routerLink="/">Home</button>
		<button routerLink="/account">My Reservations</button>
		<button *ngIf="!auth.isLoggedIn()" (click)="goToLogin()">Iniciar sesión</button>
		<button *ngIf="auth.isLoggedIn()" (click)="auth.logout()">Cerrar sesión</button>
	</div>
</div>
<div class="content">
	<p *ngIf="!movies.length">No hay películas.</p>
	<app-movie-card class="movie-card" *ngFor="let movie of movies" [movie]="movie">
	</app-movie-card>
</div>


<div class="footer">
	<p>2025</p>
</div>