// HEADER
.header {
	background-color: #005caa;
	color: white;
	padding: 1rem 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.nav-buttons {
		display: flex;
		gap: 1rem;

		button {
			background-color: transparent;
			border: none;
			color: white;
			font-weight: bold;
			cursor: pointer;
			transition: font-size 0.2s ease;

			&:hover {
				text-decoration: underline;
				font-size: 1.1em
			}
		}
	}
}
.info {
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: #d8cece;
	.poster {
		border-color: gray;
	}
}
